<div>
  <a href="/manufacturers">Manufacturers Index</a><br>
  <a href="/guitars">Guitars Index</a>
</div>

<div>
  <h1>All Manufacturers</h1>
  <% @manufacturers.each do |manufacturer| %>
    <h2><%= manufacturer.name %></h2>
    <p>Created at: <%= manufacturer.created_at %></p>
    <div id="<%= manufacturer.id %>">
      <%= link_to 'Update Manufacturer', "/manufacturers/#{manufacturer.id}/edit" %><br>
      <%= link_to 'Delete Manufacturer', "/manufacturers/#{manufacturer.id}", method: :delete %>
    </div>
  <% end %>
</div>

<%= button_to 'Sort Manufacturers by Number of Guitars', '/manufacturers?guitar_count=true' %>

<h3><%= link_to 'New Manufacturer', '/manufacturers/new' %></h3>
