<h1><%= @manufacturer.name %></h1>
<h1>Headquarters: <%= @manufacturer.headquarter_city %></h1>
<h1>Years in business: <%= @manufacturer.years_in_business %></h1>
<h1>Custom shop? <%= @manufacturer.custom_shop %></h1>
<h1>Created at: <%= @manufacturer.created_at %></h1>
<h1>Updated at: <%= @manufacturer.updated_at %></h1>
